<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Kool Form Pack | 404 Not Found Page</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200&family=Unbounded:wght@400;700&display=swap" rel="stylesheet">
        
        <link href="/static/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/css/countdown/bootstrap-icons.css" rel="stylesheet">

        <link href="/static/css/countdown/tooplate-kool-form-pack.css" rel="stylesheet">
    </head>
    
    <body>

        <main>

            <header class="site-header">
                <div class="container">
                    <div class="row justify-content-between">

                        <div class="col-lg-12 col-12 d-flex">
                            <a class="site-header-text d-flex justify-content-center align-items-center me-auto" href="/">
                                <i class="bi-box"></i>

                                <span>
                                    回到主页
                                </span>
                            </a>
                        </div>
                    </div>
                </div>


            </header>




            <section class="hero-section hero-bg d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 text-center mx-auto">
                            <h2 class="page-404-title">404</h2>

                            <h3>未找到</h3>

                            <p>在服务器上找不到此资源，请检查你的拼写是否正确。</p>

                            <a class="custom-btn btn mt-4" href="{{ link }}">猜你想到<code>{{ link }}</code></a>
                        </div>
                    </div>
                </div>
            </section>
        </main>



        <!-- JAVASCRIPT FILES -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/countdown/countdown.js"></script>
        <script src="/static/js/countdown/init.js"></script>

    </body>
</html>
