<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>code</title>
    <style>
        .c1{
            color: #2c8b06;
            
        }
        .kn {
            color: #da18c9;
        }
        .k {
            color: #da18c9;
        }
        .n{
            color: #0414f3;
        }
        .mi{
            color: rgb(28, 187, 134);
        }
    </style>
</head>
<body>
    <b style="font-size: 20px;">
    {{code|safe}}
</b>
</body>
</html>