<!DOCTYPE html>
<html>
<head>
  <title>主页 -> flask</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="/static/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>Flask文件列表</h2>
  <div class="list-group">
    <a href="/" class="list-group-item list-group-item-action">返回</a>
    <hr>
    <a href="/upload" class="list-group-item list-group-item-action">flask上传文件</a>
  </div>
</div>