<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
<link rel="stylesheet" href="/static/lib/bootstrap5/css/bootstrap.min.css">
 
<!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
<script src="/static/lib/bootstrap5/js/bootstrap.min.js"></script>

</head>
<body>
    <img src="/static/image/1.jpg" id="img"/>
    <button onclick="window.location.href = '/exit_video_viewing'" class="btn">退出</button>
</body>
<script type="text/javascript">
    // 设置刷新时间间隔（以毫秒为单位）
    var refreshInterval = parseInt(70); // 每5秒刷新一次页面
    Img = document.getElementById("img")
    function refreshPage() {
    //   window.location.reload(); // 刷新页面
        Img.src = "/static/image/1.jpg?t=" + new Date().getTime()
        // alert(Img.src)
    }
    // 在指定的时间间隔内重复调用refreshPage函数
    setInterval(refreshPage, refreshInterval);
    



  </script>
</html>